/* Created by: Emre Guzel
* Created on: May 5 2025
* This file contains the CSS for index.html
*/

html {
  font-size: 15px;
}

body {
  font-family: "Atkinson Hyperlegible Mono", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background: skyblue;
}

.container {
  margin-left: 10em;
  display: flex;
}

.formula-tittle {
  font-size: 2.3rem;
}

.formula {
  font-size: 1.5rem;
}

.number {
  color: black;
  font-weight: 900;
  font-style: bold;
  font-size: 1.2rem;
  margin-bottom: 0;

}

#kebab-type {
  background: black;
  color: white;
  padding: .8rem;
}

.Calculate {
  width: 350px;
    max-width: 90%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#perimeter {
  color: white;
  font-weight: 500;
  font-style: italic;
  font-display: initial;
}

#area {
  color: black;
  font-weight: 500;
  font-style: italic;
  font-display: initial;
  margin-bottom: 1rem;
  margin-top: .5rem;
}

.base-a {
  margin: 0;

}

#base-a {
  align-items: center;

}

.celsius {
  font-size: 1.2rem;
}

.Fahrenheit {
  font-size: 1.3rem;
}

.card {
  ackground-color: black;
    color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 350px;
    max-width: 90%;
    padding: 20px;
    text-align: left;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.card li {
  font-weight: bold;
}

.card p {
  margin: 0 0 1rem 1rem;
  color: #ccc;
}